* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* Page styles */
.wrapper {
    font-family: ‘DejaVu Sans’, sans-serif;
    /*‘Segoe UI’ Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, */
    margin:0;
}

.container {
    margin: 0 20px;
}

.header1 {
    width: 100%;
    padding:10px;
    display: flex;
    background-color: rgba(0,139, 139,0.8);
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}
  
.header2 {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header3{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:rgba(0,139, 139,0.8);
}

.menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
  
.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: space-around;
}
  
.login {
    margin-left: 20px;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}
  
.photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction:row-reverse ;
  }
  
.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}

.first-item {
    order: 1;
}
  
.last-item {
    order: -1;
}

.footer {
    display: flex;
    justify-content: space-between;
}
  
.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
}

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}

.mainpg {
    margin: 0 10px 0 0;
  }

a{
    color:white;
    text-decoration: none;
}

a:hover {
    color: rgb(1, 1, 214);
}

a:active{
    color: blue;
}

a:visited{
    color:rgb(149, 178, 255);
}

a:hover:visited{
    color:white;
    
}

.github,
.groupproj {
  align-self: flex-end;
  margin-bottom: 20px;
  color:#5995DA;
}

/* Mobile Styles 
@media only screen and (max-width: 400px) {
    body {
      background-color: #F09A9D; /* Red 
    }

    .page {
        display: flex;
        flex-wrap: wrap;
    }
      
    .header2 {
        width: 100%;
        height: 700px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first-item
    .last-item,
    .photo-grid-container,
    .photo-grid,
    .photo-grid-item {
        width: 50%;
    }
}  
*/
  
/* Tablet Styles */
@media only screen and (max-width: 1170px) {
    body {
      background-color: #F5CF8E; /* Yellow */
    }
      .page {
          display: flex;
          flex-wrap: wrap;
      }
        
      .header2 {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
      }
      
      
      .photo-grid,
      .photo-grid-item {
          width: 50%;
      }
}
  
/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
      background-color: #B2D6FF; /* Blue */
    }
}
  