* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* Page styles */
.wrapper {
    font-family: ‘Trebuchet MS’, sans-serif;
    /*‘Segoe UI’ Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’, ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, */
    margin:0;
}

.container {
    margin: 0 20px;
}

.header1 {
    width: 100%;
    padding:10px;
    display: flex;
    background-color: rgba(0,139, 139,0.8);
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}
  
.header2 {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
  
.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: space-around;
}
  
.login {
    margin-left: 20px;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}
  
.photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction:row-reverse ;
  }
  
  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
  }

.first-item {
    order: 1;
}
  
.last-item {
    order: -1;
}

.footer {
    display: flex;
    justify-content: space-between;
}
  
.footer-item {
    border: 1px solid #fff;
    background-color: #D6E9FE;
    height: 200px;
    flex: 1;
}

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}

.database {
    margin: 0 10px 0 0;
  }

a{
    color:white;
    text-decoration: none;
}

a:hover {
    color: rgb(1, 1, 214);
}

a:active{
    color: blue;
}

a:visited{
    color:rgb(124, 159, 255);
}

.github,
.groupproj {
  align-self: flex-end;
  margin-bottom: 20px;
  color:#5995DA;
}

