* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
      ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    background-color: rgb(255, 126, 197);
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    color: rgb(73, 73, 73);
    
  }
  
  /* Page Layout */
  
  .wrapper {
    display: flex;
    background-color: rgb(255, 219, 102);
    flex-direction: column;
    /*align-items: center;*/
    margin: 30px;
    padding: 15px;
    flex:1;
    border: 1px solid #ffba27;
    border-radius: 3px;
  }
  
  .container {
    /*max-width: 960px;*/
    margin-top: 25px;
    /*background-color: rgb(0, 77, 51);*/
  
    
  }
  
  .columns {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    align-items: space-between;
    margin: 20px 20px 20px 20px;
    
  }

  .ind{
    background-color: rgb(255, 222, 115);
    display: flex;
    flex-direction: column;

    border: 1px solid #ffc23d;
    border-radius: 3px;
    
    
    margin: 10px;
    padding: 25px 25px 25px 25px;
  }
  
  .ind-2{
    display: flex;
    height:fit-content;
    /*justify-content: center;
    align-self: center;*/
    width: 100%;
  }
  
  button{
    padding:10px;
    background-color: rgb(192, 0, 106);
    flex:initial;
    color:white;
    border:0;
    border-radius:3px;
    max-width: 100%;
      
      
  }
  
  .form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    width:250px;
  }
  
  .form-row input[type='text'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }
  
  .form-row label {
    margin-bottom: 15px;
  }
  
  .legacy-form-row {
    border: none;
    margin-bottom: 40px;
    
  }
  
  .legacy-form-row legend {
    margin-bottom: 15px;
    
  }
  
  .legacy-form-row .radio-label {
    display: block;
    font-size: 14px;
    padding: 0 20px 0 10px;
    
  }
  
  .legacy-form-row input[type='radio'] {
    margin-top: 2px;
  }
    
  .legacy-form-row .radio-label,
  .legacy-form-row input[type='radio'] {
    float: left;
  }
  /*
  @media only screen and (min-width: 1000px) {
    .speaker-form-header,
    .speaker-form {
      width: 600px;
    }
    .form-row {
      flex-direction: row;
      align-items: flex-start; /* To avoid stretching 
      margin-bottom: 20px;
    }
    .form-row input[type='text'] {
      width: 250px;
      height: initial;
    }
    .form-row label {
      text-align: right;
      width: 120px;
      margin-top: 7px;
      padding-right: 20px;
    }
  }
  @media only screen and (min-width: 700px) {
    /* ... 
    .legacy-form-row {
      margin-bottom: 10px;
    }
    .legacy-form-row legend {
      width: 120px;
      text-align: right;
      padding-right: 20px;
    }
    .legacy-form-row legend {
      float: left;
    }
  }*/